# 基于python 3操作，进行数据验证

In [18]:
import pandas as pd

bts_jmt_df = pd.read_csv('~/data/daily_learning_python/data/bts-02-22-jmt.csv')
bts_jmt_df.columns = ['confid','uid_','gid','userjmt']

sap_jmt_df = pd.read_csv('~/data/daily_learning_python/data/sap-02-22-jmt.csv')
sap_jmt_df.columns = ['confid','uid_','gid','userjmt']


print(bts_jmt_df.shape)
print(bts_jmt_df.columns.values)

print(sap_jmt_df.shape)
print(sap_jmt_df.columns.values)
#  print df.dtypes
#  print df.describe(include='all') 
# bts_jmt_df.head(10)

(19985, 4)
['confid' 'uid_' 'gid' 'userjmt']
(19984, 4)
['confid' 'uid_' 'gid' 'userjmt']

In [19]:
print(bts_jmt_df.describe(include='all'))

             confid          uid_           gid       userjmt
count  1.998500e+04  1.998500e+04  1.998500e+04  19985.000000
mean   8.417217e+16  2.142919e+08  1.209588e+09      1.940956
std    1.689452e+16  2.470075e+08  1.049595e+09     17.352663
min    5.048493e+07  0.000000e+00  0.000000e+00      0.000000
25%    8.760739e+16  0.000000e+00  0.000000e+00      0.000000
50%    8.764105e+16  0.000000e+00  2.120226e+09      0.000000
75%    8.767114e+16  4.991103e+08  2.120322e+09      1.000000
max    8.769780e+16  5.061262e+08  2.120405e+09   2088.000000

In [20]:
print(sap_jmt_df.describe(include='all'))

             confid          uid_           gid       userjmt
count  1.998400e+04  1.998400e+04  1.998400e+04  19984.000000
mean   8.417629e+16  2.143024e+08  1.209543e+09      1.836569
std    1.688444e+16  2.470088e+08  1.049602e+09      9.129724
min    5.048493e+07  0.000000e+00  0.000000e+00      0.000000
25%    8.760739e+16  0.000000e+00  0.000000e+00      0.000000
50%    8.764105e+16  0.000000e+00  2.120226e+09      0.000000
75%    8.767114e+16  4.991104e+08  2.120322e+09      1.000000
max    8.769780e+16  5.061262e+08  2.120405e+09    385.000000

In [21]:
bts_flag = bts_jmt_df.userjmt<2000
print(bts_jmt_df[bts_flag].describe(include='all'))

             confid          uid_           gid       userjmt
count  1.998400e+04  1.998400e+04  1.998400e+04  19984.000000
mean   8.417200e+16  2.142778e+08  1.209649e+09      1.836569
std    1.689493e+16  2.470056e+08  1.049587e+09      9.129724
min    5.048493e+07  0.000000e+00  0.000000e+00      0.000000
25%    8.760739e+16  0.000000e+00  0.000000e+00      0.000000
50%    8.764105e+16  0.000000e+00  2.120226e+09      0.000000
75%    8.767114e+16  4.991104e+08  2.120322e+09      1.000000
max    8.769780e+16  5.061262e+08  2.120405e+09    385.000000

In [23]:
bts_flag = bts_jmt_df.userjmt<2000
print(bts_jmt_df.where(bts_flag).describe(include='all'))

             confid          uid_           gid       userjmt
count  1.998400e+04  1.998400e+04  1.998400e+04  19984.000000
mean   8.417200e+16  2.142778e+08  1.209649e+09      1.836569
std    1.689493e+16  2.470056e+08  1.049587e+09      9.129724
min    5.048493e+07  0.000000e+00  0.000000e+00      0.000000
25%    8.760739e+16  0.000000e+00  0.000000e+00      0.000000
50%    8.764105e+16  0.000000e+00  2.120226e+09      0.000000
75%    8.767114e+16  4.991104e+08  2.120322e+09      1.000000
max    8.769780e+16  5.061262e+08  2.120405e+09    385.000000

# Mini Batch 2018-03-19 02:40:00 --- 2018-03-19 02:50:00

In [5]:
import pandas as pd

prod_df = pd.read_csv('~/data/miniJMT/prod.csv')
prod_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']


sap_df = pd.read_csv('~/data/miniJMT/SAP.csv')
sap_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']

In [6]:
prod_df.head()

,confid,uid_,gid,startjointime,joinedtime,userjmt
0,89876197477982517,529814102,0,2018-03-19 02:46:36,2018-03-19 02:46:44,8.0
1,88619120608685231,0,133676869,2018-03-19 02:47:55,2018-03-19 02:48:01,6.0
2,89251000800521590,0,133685609,2018-03-19 02:46:19,2018-03-19 02:46:26,7.0
3,89251000800521590,0,133676699,2018-03-19 02:42:51,2018-03-19 02:42:57,6.0
4,88885688507830853,509494652,0,2018-03-19 02:49:15,2018-03-19 02:49:21,6.0

In [7]:
sap_df.head()

,confid,uid_,gid,startjointime,joinedtime,userjmt
0,89882606136463832,511290062,0,2018-03-19 02:47:39,2018-03-19 02:54:00,381.0
1,88619120608685231,0,133676869,2018-03-19 02:47:55,2018-03-19 02:48:01,6.0
2,89251000800521590,0,133685609,2018-03-19 02:46:19,2018-03-19 02:46:26,7.0
3,89251000800521590,0,133676699,2018-03-19 02:42:51,2018-03-19 02:42:57,6.0
4,88885688507830853,509494652,0,2018-03-19 02:49:15,2018-03-19 02:49:21,6.0

In [11]:
len(prod_df)

3409

In [12]:
len(sap_df)

3574

In [13]:
len(prod_df.merge(sap_df, how='inner', on=['confid','uid_','gid']))

3393

In [27]:
ds1 = set([ tuple(line) for line in prod_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在prod中，但是没出现在sap中的user:', len(ds1.difference(ds2)))
print()
for d in ds1.difference(ds2):
    print(d)

出现在prod中，但是没出现在sap中的user: 16

(89814084098200374, 0, 416608347)
(89881957883718975, 527041997, 0)
(89881962784762543, 539784632, 0)
(89250106330625869, 493516642, 0)
(2656047508, 0, 1315843369)
(2610877832, 13194427, 0)
(88613296954938143, 529944812, 0)
(86918791533957312, 528596917, 0)
(89630696867366889, 0, 2086790314)
(89878462289947462, 527853327, 0)
(89611623432462581, 0, 1016407597)
(89879843617902539, 0, 1072870120)
(89877532266992299, 529662617, 0)
(89873455735902534, 526943642, 0)
(2858861008, 532737967, 0)
(89673681053158956, 526890962, 0)

In [29]:
ds1 = set([ tuple(line) for line in prod_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在sap中，但是没出现在prod中的user:', len(ds2.difference(ds1)))
print()
for d in ds2.difference(ds1):
    print(d)

出现在sap中，但是没出现在prod中的user: 181

(2656122918, 508459792, 0)
(89515180568887256, 0, 1899626746)
(89257996987712966, 0, 1594269861)
(89882252841849074, 530050652, 0)
(89882031770571696, 527644347, 0)
(89882699549931907, 479865753, 0)
(89640783869678444, 0, 1315849829)
(2610878242, 7764952, 0)
(89880097912259925, 522026232, 0)
(83954833882653214, 486499638, 0)
(2610878189, 0, 351864897)
(89406822550605901, 0, 416681157)
(89532637200257092, 0, 416678682)
(89363568750764612, 0, 1016408207)
(89621697650542300, 0, 1594246936)
(89882713671078584, 0, 416683687)
(76804352407286608, 0, 1553425557)
(89879345813785591, 510560942, 0)
(89709819991165250, 529119782, 0)
(3786259798, 8871682, 0)
(89880347543648079, 0, 2025176387)
(89253567658992900, 0, 777729787)
(89796806151505890, 0, 2086785669)
(89631318848046774, 0, 2086791044)
(88617672165560494, 492034567, 0)
(89835631544400054, 0, 700151291)
(89631371589323158, 0, 550145536)
(89531367596011661, 485946412, 0)
(89880761545524770, 0, 2086791139)
(89325714631861247, 0, 1600910412)
(89620929166971297, 0, 416683667)
(89873139428757566, 0, 416683407)
(89615477438989759, 0, 1594269546)
(89881793079028728, 0, 544038076)
(89430160760161616, 513897532, 0)
(89882841194729616, 519630282, 0)
(89253122298357871, 0, 544052236)
(87973981453332846, 0, 1553392087)
(89628209015950017, 0, 550145521)
(89428659513889166, 527307422, 0)
(88805541570166733, 512552867, 0)
(89882397254923394, 495175727, 0)
(89882714523612139, 0, 1553432207)
(89847806259368421, 0, 416497592)
(89881471112712354, 523955542, 0)
(89356116651184752, 0, 1315847634)
(89882679991864302, 527622012, 0)
(89410562648183399, 0, 416681602)
(88177869042226047, 0, 416683097)
(87533504898798104, 0, 416674747)
(89882838118175618, 530063787, 0)
(2667102320, 0, 777727052)
(89882550796843290, 0, 700151141)
(2610878237, 3818422, 0)
(89615735869940210, 0, 1016401842)
(89444674503230764, 0, 1594269916)
(89265019802364024, 539994792, 0)
(2656045962, 0, 1315849419)
(89841578440395530, 0, 550145241)
(2656123000, 0, 1315849559)
(89881652654777174, 529512042, 0)
(89881743622935130, 519950092, 0)
(89628971798368906, 0, 416678672)
(2610754603, 8817892, 0)
(89641225385159490, 0, 544038481)
(89579922288288188, 0, 1016402017)
(89859242248373464, 0, 2086785479)
(2610878216, 11576247, 0)
(89534458698410419, 539860532, 0)
(89876213006339624, 509319397, 0)
(89622292918702229, 0, 416680127)
(3786259848, 8827992, 0)
(89859242248373464, 0, 2086783859)
(89369466880660032, 511574202, 0)
(89663687588090247, 0, 1315848554)
(89441019889717380, 146033, 0)
(89440420392609586, 516442047, 0)
(89816584558770888, 540317727, 0)
(89702515274157465, 527256542, 0)
(89369466880660032, 0, 416625197)
(89879653231141801, 540059697, 0)
(89456418245101543, 0, 1594261636)
(88989293070002608, 510933722, 0)
(89840294273528134, 0, 1553425567)
(89642606437339507, 519922982, 0)
(87979451637305495, 512617592, 0)
(89636524310663476, 530050792, 0)
(89252689017344649, 526869182, 0)
(89623490918887382, 0, 133691149)
(88753672976114067, 0, 1600893467)
(89489633888447170, 0, 544043871)
(89876145966682442, 507225532, 0)
(89258301085189749, 522770342, 0)
(89410562648183399, 0, 416683307)
(89801836337315357, 0, 1899635186)
(89630654655939784, 0, 1594251081)
(89716349567269664, 0, 700141491)
(89422223277825385, 541535332, 0)
(89882606136463832, 511290062, 0)
(89255503565164403, 536544107, 0)
(89833993868939282, 527558452, 0)
(89881326113553244, 540323747, 0)
(89879498415150018, 0, 416680392)
(89882606136463832, 0, 416683697)
(89406822550605901, 0, 416681197)
(2610754603, 0, 351864857)
(89532659325257100, 0, 1594261776)
(89632642954197188, 0, 700142001)
(88790728147247138, 0, 1600899347)
(89880400358328315, 0, 1594261266)
(89443663283799727, 0, 1594269691)
(89254065280678435, 0, 700151106)
(89536850647093783, 0, 1315849669)
(89882204453249155, 0, 1600893497)
(89876044620790657, 0, 700151261)
(89880819932334503, 0, 550146326)
(89748227706851365, 0, 416681712)
(89881793079028728, 0, 544037826)
(88846864780104215, 0, 416683672)
(89878934844379741, 507087842, 0)
(89882402976959695, 0, 1072878540)
(89406822550605901, 0, 416680897)
(88092170521724591, 519293317, 0)
(89882727211344965, 0, 777723067)
(3786259849, 8871712, 0)
(87533504898798104, 0, 416681777)
(89868729377132737, 0, 1315849124)
(89251675156528167, 0, 1899635091)
(89651664560066802, 0, 416683707)
(89444434288053317, 0, 1072872130)
(88343005559269587, 539421712, 0)
(89878788035317940, 520029247, 0)
(89802624310709503, 536039132, 0)
(89881591741944182, 0, 416683367)
(2656071373, 0, 1315849454)
(89483139563399853, 0, 544023886)
(89003565052341773, 0, 133691129)
(89642275239366908, 0, 416683432)
(89870768359351289, 0, 1016372467)
(87988359960466347, 0, 416681447)
(3786255952, 8826607, 0)
(89880761545524770, 527338827, 0)
(89877044835435997, 514140147, 0)
(89665159709076221, 0, 544044121)
(89349375497603508, 0, 550146061)
(89456418245101543, 0, 1594261501)
(89546988198080560, 486750248, 0)
(89881998010644558, 0, 700141756)
(89639568345698399, 0, 1315849439)
(3786259593, 0, 141213707)
(89837496908695446, 517664757, 0)
(89880490712024186, 0, 1594246911)
(89431493627089687, 189818, 0)
(89612847708934732, 0, 1315849429)
(89882058479896399, 0, 2086785419)
(89872893884768151, 532301427, 0)
(89882217749163253, 0, 133676589)
(89450555260280066, 0, 579644289)
(89830246197497977, 0, 416683242)
(89871699172919805, 0, 550145731)
(89879638036189414, 511371462, 0)
(89251880936410348, 0, 1072872315)
(89532325304499027, 532917582, 0)
(89881808683967468, 0, 1600900702)
(89692056173191797, 517560332, 0)
(89252544264581334, 484368297, 0)
(89616313864977099, 540000177, 0)
(89657098357445004, 525669027, 0)
(89882132227330927, 0, 1315847729)
(88617409193218826, 527578747, 0)
(89659565866488566, 0, 416576787)
(89882710105926059, 539574297, 0)
(85649597943301912, 0, 1594261421)
(88177869042226047, 525966612, 0)
(88239100798184169, 0, 544052206)
(89871726460018910, 521765743, 0)
(87533504898798104, 0, 416680592)
(89613605782163955, 530031202, 0)
(89826446041681361, 0, 1072878365)
(89456418245101543, 0, 1594270011)
(89440420392609586, 502523877, 0)

# BTS Mini Batch 2018-03-26 15:30:00 --- 2018-03-26 15:40:00

In [22]:
import pandas as pd

bts_df = pd.read_csv('~/data/miniJMT/bts_03-26-15-30.csv',header=None)
bts_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']


sap_df = pd.read_csv('~/data/miniJMT/bts_2018-03-26-15-30_sap.csv',header=None)
sap_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']

In [23]:
print("bts的user数量：",len(bts_df))
print("sap的user数量：",len(sap_df))

print("两者交集的user数量：",len(bts_df.merge(sap_df, how='inner', on=['confid','uid_','gid'])))

bts的user数量： 294
sap的user数量： 294
两者交集的user数量： 291

In [24]:
ds1 = set([ tuple(line) for line in bts_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在bts中，但是没出现在sap中的user:', len(ds1.difference(ds2)))
for d in ds1.difference(ds2):
    print(d)

出现在bts中，但是没出现在sap中的user: 3
(90561527930730719, 0, 2125861877)
(90314086325205271, 498888197, 0)
(90312829059513320, 492739967, 0)

In [25]:
ds1 = set([ tuple(line) for line in bts_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在sap中，但是没出现在bts中的user:', len(ds2.difference(ds1)))

for d in ds2.difference(ds1):
    print(d)

出现在sap中，但是没出现在bts中的user: 3
(87983187798571830, 496938022, 0)
(90310742022076844, 490897627, 0)
(90298698148395352, 505625532, 0)

# PROD Mini Batch 2018-03-26 15:30:00 --- 2018-03-26 15:40:00

In [26]:
import pandas as pd

prod_df = pd.read_csv('~/data/miniJMT/prod_2016-03-26-15-30.csv', header=None)
prod_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']


sap_df = pd.read_csv('~/data/miniJMT/prod_2018-03-26-15-30_sap.csv', header=None)
sap_df.columns = ['confid','uid_','gid','startjointime','joinedtime','userjmt']

In [27]:
print("prod的user数量：",len(prod_df))
print("sap的user数量：",len(sap_df))

print("两者交集的user数量：",len(prod_df.merge(sap_df, how='inner', on=['confid','uid_','gid'])))

prod的user数量： 104545
sap的user数量： 90183
两者交集的user数量： 88746

In [29]:
ds1 = set([ tuple(line) for line in prod_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在prod中，但是没出现在sap中的user:', len(ds1.difference(ds2)))

出现在prod中，但是没出现在sap中的user: 15799

In [31]:
ds1 = set([ tuple(line) for line in prod_df[['confid','uid_','gid']].values.tolist()])
ds2 = set([ tuple(line) for line in sap_df[['confid','uid_','gid']].values.tolist()])

print('出现在sap中，但是没出现在prod中的user:', len(ds2.difference(ds1)))

出现在sap中，但是没出现在prod中的user: 1437